body {
  position: relative;
  background-color: #ffffff;
}
header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  height: 1.856rem;
  line-height: 1.70666667rem;
  width: 100%;
}
header img {
  width: 100%;
}
header a .header-left {
  position: absolute;
  top: 0.04266667rem;
  left: 0.21333333rem;
  padding: 0.85333333rem;
}
section {
  padding-top: 1.856rem;
}
section img {
  width: 100%;
}
section a .page1 {
  position: absolute;
  top: 13.54666667rem;
  left: 4.69333333rem;
  padding: 0.64rem 1.28rem;
}
