<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/swiper.css">
    <!-- <link rel="stylesheet" href="../css/common.css"> -->
    <link rel="stylesheet" href="./css/page12.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="../img/page12-header.png" alt="">
        <a href="">
            <span class="red header-left"></span>
        </a>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <a href=""><span class="red page1"></span></a>
                <img src="../img/page12-content.png" alt="">
            </section>
        </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/iscroll.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>