<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="./css/weixin.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="left">
            <a href="JavaScript:;">
                <img class="header01" src="./img/weixin-header01.png" alt="">
            </a>
            <span class="line"></span>
            <span>贵州农经网</span>
            <img class="header02" src="./img/weixin-header02.png" alt="">
        </div>
        <div class="right">
            <img src="./img/weixin-header03.png" alt="">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="time">
                    <span>5月11日 早上10:22</span>
                </div>
                <div class="message01">
                    <img src="./img/weixinlogo.png" alt="">
                    <span>你好，欢迎关注贵州农经网 !</span>
                </div>
                <div class="time">
                    <span>周一 13:33</span>
                </div>
                <div class="con1">
                    <img src="./img/weixin-content.png" alt="">
                    <div class="cont">
                        <p>企业介绍</p>
                        <p>贵州农经网电子商务为满足贵州农业企业的电子商务的需求，促进贵州农特产品的销售，贵州农经网立足贵州特色，倾力打造了贵州名特优农产品电子商务平台--淘黔宝</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="footer_top">
            <p>
                普通用户</p>
            <p>信息员</p>
        </div>
        <div class="footer1">
            <img src="./img/weixin-footer1.png" alt="">
        </div>
        <div class="footer2">
            信息采集
        </div>
        <div class="footer3">服务中心</div>
        <div class="footer4">我·专题</div>
    </footer>
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/iscroll.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
    <script src="./js/weixin01.js"></script>
</body>

</html>